{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "browsers": [
                        "last 2 versions",
                        "ie >= 11"
                    ]
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ],
    "sourceType": "unambiguous"
}