<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-justified">
                <div class="column">
                    <div class="content has-margin-top is-medium">
                        <span class="subtitle subtitle-footer is-size-7">Links</span>
                        <ul>
                            <li><a href="http://docs.wingbot.ai">Tutorials</a></li>
                            <li><a href="https://wingbotai.github.io/wingbot/">Developers</a></li>
                            <li><a href="https://github.com/wingbotai">Github</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="content has-margin-top is-medium">
                        <span class="subtitle subtitle-footer is-size-7">Contact us</span>
                        <ul>
                            <li><a href="mailto:david.menger@wingbot.ai">david.menger@wingbot.ai</a></li>
                            <li><a href="https://czechbots.cz/">Czechbots.cz</a></li>
                            <li><a href="https://twitter.com/wingbotai">@wingbotai</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="is-size-7 has-margin-top" style="margin-top: 20px;">
                Copyright © 2018 <strong>Wingbot.ai</strong>.
            </p>
        </div>
    </div>
</footer>