<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="user-scalable=no,width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1">
		<meta name="msapplication-tap-highlight" content="no">
		<title>Wingbot.ai</title>

		<meta name="description" content="{{description}}">
		<meta name="author" content="wingbot.ai" />

		<link rel="canonical" href="{{appUrl}}" />

		<meta property="og:type" content="website">
		<meta property="og:url" content="{{appUrl}}">
		<meta property="og:description" content="{{description}}">

		<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
	</head>

	<body>
		{{> @partial-block }}
	</body>
</html>
